@charset "UTF-8";
/* Slider */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
    font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-prev:before {
    content: "←";
}

[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: -25px;
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

.slick-next:before {
    content: "→";
}

[dir="rtl"] .slick-next:before {
    content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}

@font-face {
    font-family: "Segoe Print";
  src: url("../fonts/Segoe.ttf");
  font-display: swap;
}

body {
    font-family: "Montserrat Alternates", sans-serif !important;
}

.display-1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #014B85;
    font-weight: 500;
    font-size: 90px;
}

.text-1 {
    font-family: "Montserrat Alternates", sans-serif !important;
    font-size: 47px !important;
}

.text-2 {
    font-family: "Segoe Print", sans-serif !important;
    font-size: 23px !important;
}

h5 {
    font-family: 'Roboto', sans-serif;
    color: #014B85;
}

h2 {
    color: #014B85;
}

@media (min-width: 768px) and (max-width: 991px) {
    .slider .text-1,
  .slider .text-2 {
        font-size: 98% !important;
    }

    .slider .display-1 {
        font-size: 340% !important;
    }

    .slider .btn {
        font-size: 95%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .slider img {
        opacity: 0.5;
    }

    .slider .text-1,
  .slider .text-2 {
        font-size: 98% !important;
    }

    .slider .display-1 {
        font-size: 340% !important;
    }

    .slider .btn {
        font-size: 95%;
    }
}

@media (max-width: 576px) {
    .slider img {
        opacity: 0.5;
        width: 200% !important;
    }

    .slider .text-1,
  .slider .text-2 {
        font-size: 95% !important;
        width: 90%;
    }

    .slider .display-1 {
        font-size: 220% !important;
    }

    .slider .btn {
        font-size: 95%;
    }

    .slider__box {
        overflow: hidden;
    }

    .new h2 {
        font-size: 150%;
    }
}

a {
    color: #014B85;
}

a:hover {
    text-decoration: none;
    color: #014B85;
}

.btn_blue {
    color: #00BFF6 !important;
}

.slick-dots li button {
    background: #014B85 !important;
}

.slick-dots li,
.slick-dots li button {
    width: 10px;
    height: 1px;
}

.btn {
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#00eb08), to(#01b307));
    background: -o-linear-gradient(#00eb08 0%, #01b307 100%);
    background: linear-gradient(#00eb08 0%, #01b307 100%);
    -webkit-box-shadow: 0px 3px 6px rgba(0, 142, 5, 0.59);
    box-shadow: 0px 3px 6px rgba(0, 142, 5, 0.59);
    border: none;
    color: #fff;
}

.absolute {
    position: absolute;
    margin: 0 auto;
}

.ov-hidden {
    overflow: hidden;
}

a:hover {
    color: #014B85 !important;
}

.menu {
    background: #fff;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    color: #333;
}

.icons_top {
    font-size: 22px;
    color: #014B85 !important;
}

.icons_top a {
    color: #014B85 !important;
}

.icons_top img {
    height: 22px;
    margin-top: -5px;
}

.slider .absolute {
    height: 100%;
}

.slider p {
    font-family: "Montserrat Alternates";
    font-weight: normal;
    font-size: 20px;
}

.slider .social {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: -110px;
}

.slick-slide,
.slick-track,
.slick-list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 100%;
}

.new .slick-slide {
    padding: 10px;
}

.card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 100%;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    border: none;
}

.card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card .card-body h5 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
}

.card .card-body p {
    font-family: "Montserrat Alternates";
    font-weight: normal;
    font-size: 14px;
    line-height: 1.1;
    text-align: left;
    color: #030405;
    padding-bottom: 0;
    margin-bottom: 0;
}

.card .card-body .radius {
    background: #fff;
    border-radius: 50%;
    background: #fff;
    -ms-flex-item-align: center;
    align-self: center;
}

.card .card-body .radius svg {
    font-weight: 300;
    stroke-width: 0.3;
    width: 20px;
}

.card .card-body .radius:hover {
    background: #C5C5C5;
    cursor: pointer;
}

.card .card-body .radius:hover svg {
    stroke: #fff !important;
    fill: #fff !important;
}

.card .card-body .price {
    font-family: Roboto;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    color: #014b85;
    line-height: 1.2;
}

.card .card-body .old_price {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: line-through;
    color: #ea5788;
}

.card .bottom {
    height: 60px;
    margin: auto 0 0;
}

.card .line {
    border-top: 1px solid #ccc;
}

.card .cart_btn {
    background: -webkit-gradient(linear, left top, left bottom, from(#00eb08), to(#01b307));
    background: -o-linear-gradient(#00eb08 0%, #01b307 100%);
    background: linear-gradient(#00eb08 0%, #01b307 100%);
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.card .cart_btn img {
    width: 15px;
}

.news_stick {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #00f608;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    left: 10px;
    top: 10px;
    font-size: 14px !important;
}

.sale_stick {
    position: absolute;
    width: 45px;
    height: 45px;
    background: red;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    right: 10px;
    top: 10px;
    font-size: 14px !important;
    color: #fff;
}

.hit_stick {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #FF9218;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    left: 10px;
    top: 10px;
    font-size: 14px !important;
    color: #fff;
}

.down_line {
    border-bottom: 1px solid #00BFF6;
}

.why {
    background-image: url(../i/back-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.why h2 {
    border-bottom: 1px solid #ccc;
    color: #fff;
}
